altair
antlr4-python3-runtime
bs4
indic_transliteration
googletrans
google-api-python-client
indic-nlp-library
joblib
langdetect
nltk
numpy
pandas
sacrebleu
scikit-learn
streamlit
streamlit-option-menu
textblob
