altair
antlr4-python3-runtime
bs4
indic_transliteration==2.3.69
googletrans==4.0.0-rc1
deep_translator
google-api-python-client
joblib
langdetect
nltk
numpy
pandas
sacrebleu
scikit-learn
streamlit
streamlit-option-menu
textblob
